<!-- app/templates/admin/workshops/workshops.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Workshops{% endblock %}
{% block content %}
<div class="content-section">
    <div class="middle">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Workshops</h1>
        {% if workshops%}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered" >
              <thead>
                <tr class="success">
                  <th width="15%"> WorkshopID </th>
                  <th width="40%"> Name </th>
                  <th width="15%"> Date</th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for workshop in workshops %}
                <tr>
                  <td> {{ workshop.id }} </td>
                  <td> {{ workshop.workshop }} </td>
                  <td> {{ workshop.date }} </td>
                <td>
                    <a href="{{ url_for('admin.edit_workshop', workshopid=workshop.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_workshop', workshopid=workshop.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No workshops have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_workshop') }}" class="btn btn-info btn-lg">
            <i class="fa fa-plus"></i>
            Add Workshop
          </a>
        </div>
  </div>
</div>
{% endblock %}
