<! --app/templates/home/home.html-->
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
          <h1 align='middle'</align> UON 2019 ENGINEERING CONFERENCE </h1>
              <h4 align='middle'</align>A world class university comitted to scholarly excellence<h3>
        <div class="Jumbotron">
          <h3>Welcome to International Students Conference - Kenya.</h4>
          <h4 class="text-danger">Registration 2019 starts on 26.04.2019 and ends on 26.05.2019. </h4>
          <h3>It's a platform that offers the University students an opportunity to interact with technocrats in various fields.</h4>
       </div>
    
{% endblock %}
